html,
body {
  height: 100%;
  margin: 0;
}

#nes-video {
  background-color: black;
}

main {
  margin-right: auto;
  margin-left: auto;
  width: max-content;
}

.help-box {
  width: 100%;
  text-align: left;
  border-radius: 10px;
  border: 1px solid black;
  padding: 0px 16px;
  margin: 8px 0px;
}

kbd.key {
  border-radius: 3px;
  padding: 1px 2px 0;
  border: 1px solid black;
}
