html,
body {
  height: 100%;
  margin: 0;
  overflow-wrap: normal;
}
header, footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  width: fit-content;
}

.nes-display-box {
  position: relative;
  width: 512px;
  height: 448px;
  z-index: 1;
}

#nes-video {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
}

.nes-display-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  top: -10px;
  z-index: 3;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

main {
  margin-right: auto;
  margin-left: auto;
  width: max-content;
}

.help-box {
  width: 100%;
  text-align: left;
  border-radius: 10px;
  border: 1px solid black;
  padding: 0px 16px;
  margin: 8px 0px;
}

kbd.key {
  border-radius: 3px;
  padding: 1px 2px 0;
  border: 1px solid black;
}
